{% include 'map/header.html' %}
{% load static %}
<body>
<div class="tete"><h1>CitySupplier</h1>
<h2>Engagez vous dans l'&eacute;conomie de quartier...</h2>
{% if register %}
<h4>You can now Login.</h4>
{% endif %}
{% if request.session.logged %}
<h4>Welcome {{ request.session.name }} {{ request.session.surname }}.</h4>
{% endif %}</div>
<div class=parag>
    <h2>CitySupplier qu'est ce que c'est ?</h2>
    <p>L'outil CitySupplier permet de consulter et de r&eacute;f&eacute;rencer des commerces locaux<br />
        qui s'engagent dans l'agriculture biologique et participent à la mise en avant<br />
        de produit cultiv&eacute;s localement.
    </p>
    <p>
        Nous avons d&eacute;velopp&eacute; cet outil durant le <a href="https://hackatown.io/#/event">Hackatown 2021.</a><br />
        Membres de l'&eacute;quipe : Loys Caucheteux, Th&eacute;o Guichard, Ciro Autiero et Quentin Rouvier
    </p>
    <a href="https://hackatown.io/#/event"></a>
    <h2>Pourquoi ?</h2>
    <p>L'import de produit depuis l'&eacute;tranger cr&eacute;e de la pollution,<br />
        en plus de ne pas rendre service aux agriculteurs locaux.<br />
        Vous voulez aider l'&eacute;conomie locale et r&eacute;duire votre empreinte carbone ?<br />
        CitySupplier vous aide dans votre d&eacute;marche en vous fournissant<br />
        la carte de vos nouvelles &eacute;piceries et &eacute;tals pr&eacute;f&eacute;r&eacute;s.<br />
    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p>Produit sous Django Framework 3.1.6</p>
</div>
</body>